
.card-img-top {
    max-width: 100%;
    max-height: 100%;
}

.card-header {
    height: 90px;
    font-weight: bold;
}

.card-footer {
    height: 70px;
}

#imgContainer {
    max-width: 300px;
    height: 300px;
}

#imgMain {
    max-width: 100%;
    max-height: 300px
}

.bgColor{
    background-color: #f8f9fa;
}


